*, *::after, *::before {
	box-sizing: border-box;
}

.product-flexbox {
    display: -webkit-inline-flex;
	display: -ms-inline-flex;
    display: inline-flex;
    
    -webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
    flex-wrap: wrap;
    
    width: 100%;
    margin: 1em;
}

.product-img {
	flex: 1 1 400px;
}

.product-info {
	flex: 1 1 18rem;
}

@media (max-width: 70rem) {
	.product-flexbox {
		flex-direction: column;
	}
}