*, *::after, *::before {
	box-sizing: border-box;
}

.product-grid {
    display: -webkit-inline-flex;
	display: -ms-inline-flex;
    display: inline-flex;
    
    -webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
    flex-wrap: wrap;
    
    width: 100%;
    margin: 1em;
    justify-content: space-around;
}

.product-3col {
    flex: 0 1 30%;
    margin: 1.0875em;
    padding: 1.25em 0.08em;
    border: 1px solid rgba(0,0,0,0);
    -webkit-transition: outline 0.2s ease-out;
    transition: outline 0.2s ease-out;
}

.product-3col:hover, .product-3col:focus {
    border: 1px solid rgb(0,0,0);
    outline-offset: 1px;
}

.product-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}