*, *::after, *::before {
	box-sizing: border-box;
}

/* MAIN NAVIGATION BAR */
.nav-main {
    display: -webkit-inline-flex;
	display: -ms-inline-flex;
    display: inline-flex;
    
    -webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
    flex-wrap: wrap;
    
    float: right;
}

.top-nav {
    display: -webkit-flex;
	display: -ms-flex;
    display: flex;
    
    -webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
    flex-wrap: wrap;
    
    justify-content: space-between;
}


/* FOOTER NAVIGATION */
.nav-footer {
    display: -webkit-inline-flex;
	display: -ms-inline-flex;
    display: inline-flex;
    
    -webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.bottom-nav {
    display: -webkit-flex;
	display: -ms-flex;
    display: flex;
    
    -webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
    flex-wrap: wrap;
}


/* SHOP PRODUCTS GRID */
.product-grid {
    display: -webkit-inline-flex;
	display: -ms-inline-flex;
    display: inline-flex;
    
    -webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
    flex-wrap: wrap;
    
    width: 100%;
    margin-top: 2em;
    justify-content: space-between;
}   

.product-3col::after{
    /* last item left-justified | https://stackoverflow.com/questions/18744164/flex-box-align-last-row-to-grid */
    flex: auto;
}


/* MEDIA QUERIES */

@media (min-width: 60em) {
    .product-3col {
        flex: 0 1 30%;
        flex-direction: row;
    }
    
    .button-nav {
        flex: 0 1 20%;
        flex-direction: row;
    }
    
    .subhead-paragraph {
        display: inline-block;
        width: 40em;
    }
}

@media (max-width: 60em) {
    .product-3col {
        flex: 0 1 50%;
        flex-direction: row;
    }
    
    .subhead-paragraph {
        display: inline-block;
        width: 40em;
    }
}

@media (max-width: 55em) {
    .top-nav {
        justify-content: center;
    }
    
    .nav-main {
        flex-direction: column;
        flex: 0 1 100%;
    }
    
    .nav-footer {
        flex: 0 1 100%;
        flex-direction: column;
        text-align: center;
    }
}

@media (max-width: 50em) {
    .product-grid {
        justify-content: center;
    }
    .product-3col {
        flex: 0 1 100%;
        flex-direction: column;
    }
    
    .subhead-paragraph {
        display: block;
        width: auto;
    }
}