*, *::after, *::before {
	box-sizing: border-box;
}

.product-grid {
    display: -webkit-inline-flex;
	display: -ms-inline-flex;
    display: inline-flex;
    
    -webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
    flex-wrap: wrap;
    
    width: 100%;
    margin: 1em;
    justify-content: left;
}

@media (min-width: 80em) {
    .product-3col {
        flex: 0 1 30%;
        flex-direction: row;

        margin: 1.0875em;
        padding: 1.25em 0.08em;
    }
}

@media (max-width: 80em) {
    .product-3col {
        flex: 0 2 50%;
    }
}

@media (max-width: 40em) {
    .product-3col {
        flex: 0 1 100%;
        flex-direction: column;
    }
}