*, *::after, *::before {
	box-sizing: border-box;
}

/* MAIN NAVIGATION BAR */
.top-nav {
    display: -webkit-flex;
	display: -ms-flex;
    display: flex;
    
    -webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
    flex-wrap: wrap;
    
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
}

.nav-main {
    /* flexbox basics | https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Basic_Concepts_of_Flexbox */
    display: -webkit-inline-flex;
	display: -ms-inline-flex;
    display: inline-flex;
    
    -webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
    flex-wrap: wrap;
    
    float: right;
}


/* FOOTER NAVIGATION */
footer {
    display: -webkit-flex;
	display: -ms-flex;
    display: flex;
    
    -webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.nav-footer {
    display: -webkit-inline-flex;
	display: -ms-inline-flex;
    display: inline-flex;
    
    -webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
    flex-wrap: wrap;
}


/* PRODUCTS GRID */
.flexbox-3col {
    display: -webkit-inline-flex;
	display: -ms-inline-flex;
    display: inline-flex;
    
    -webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
    flex-wrap: wrap;
    
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;

}

#box-2item {
    -webkit-justify-content: space-around;
    -ms-justify-content: space-around;
    justify-content: space-around;
}

.box-3col-item {
    flex: 0 1 25%;
}

.box-3col-item-info img {
    width: 100%
}


/* PRODUCT PAGE */
.flexbox-2col {
    display: -webkit-inline-flex;
	display: -ms-inline-flex;
    display: inline-flex;
    
    -webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
    flex-wrap: wrap;
    
    width: 100%;
    justify-content: space-around;
}

.box-2col-img {
	flex: 1 1 45%;
}

.box-2col-info {
	flex: 1 1 55%;
}

.flexbox-quantity {
    display: -webkit-flex;
	display: -ms-flex;
    display: flex;
    
    -webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
    flex-wrap: wrap;
    
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
}

.box-quantity-item {
    flex: 0 1 33%;
}

.box-quantity-item:last-of-type {
    flex: 1 1 100%;
}


/* ABOUT + CONTACT PAGES */
.about-flexbox, .contact-flexbox {
    /* flexbox basics | https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Basic_Concepts_of_Flexbox */
    display: -webkit-inline-flex;
    display: -ms-inline-flex;
    display: inline-flex;
    
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    justify-content: space-around;
}

.contact-basic-info, .contact-other-info {
    padding: 0 10em;
    max-width: 100%;
    justify-content: space-around;
}

.about-img {
    height: auto;
    max-width: 100%;
}

.about-info {
    flex: 1 1 18rem;
    padding: 0 5em;
    max-width: 50%;
}

.about-img, .about-info, .contact-info {
    margin-right: auto;
    margin-left: auto;
    /* center align imaging referenced from https://www.w3schools.com/howto/howto_css_image_center.asp */
}

.contact-info {
    flex: 1 1 18rem;
    padding: 0 5em;
    max-width: 50%;
}

.contact-form {
    flex: 1 1 18rem;
    padding: 0 5em;
    max-width: 50%;
}

.contact-info, .contact-form, .contact-fields {
    margin-right: auto;
    margin-left: auto;
}


/* PAYMENT INFORMATION PAGE */
.payment-info {
    margin: 0 auto;
}


/* MEDIA QUERIES */
@media (max-width: 70em) {
    .about-flexbox {
        flex-direction: column;
    }

    .about-info {
        padding: 0 1em;
        max-width: 100%;
    }
    
    .contact-flexbox {
        flex-direction: column;
    }

    .contact-info {
        padding: 0 2em;
        max-width: 100%;
    }

    .contact-form {
        padding: 0 2em;
        max-width: 100%;
    }
    
    .flexbox-3col {
        -webkit-justify-content: space-around;
        -ms-justify-content: space-around;
        justify-content: space-around;
    }
    
    .box-3col-item {
        flex: 1 1 30%;
    }
}

@media (max-width: 55em) {
    .flexbox-2col {
		flex-direction: column;
	}
    
    .box-2col-img {
        justify-content: center;
    }
}

@media (min-width: 55em) { 
    .button-nav {
        flex: 0 1 20%;
        flex-direction: row;
    }
    
    .subhead-paragraph {
        display: inline-block;
        width: 40em;
    }
}

@media (max-width: 50em) { 
    .top-nav {
        justify-content: center;
    }
    
    .nav-main {
        flex-direction: column;
        flex: 1 1 100%;
    }
    
    .subhead-paragraph {
        display: block;
        width: auto;
    }
}

@media (max-width: 40em) {    
    .nav-footer {
        flex: 1 1 100%;
        flex-direction: column;
        text-align: center;
    }
    
    .flexbox-3col {
        -webkit-justify-content: space-around;
        -ms-justify-content: space-around;
        justify-content: space-around;
    }
    
    .box-3col-item {
        flex: 1 1 100%;
        flex-direction: column;
    }
}