*, *::after, *::before {
	box-sizing: border-box;
}

/* positioning footer at the bottom of the page | https://css-tricks.com/couple-takes-sticky-footer/ */
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.content {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
    margin-top: 5em
}

/* MAIN NAVIGATION BAR */
header {
    display: -webkit-flex;
	display: -ms-flex;
    display: flex;
    
    -webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
    flex-wrap: wrap;
    
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
}

.nav-main {
    /* flexbox basics | https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Basic_Concepts_of_Flexbox */
    display: -webkit-inline-flex;
	display: -ms-inline-flex;
    display: inline-flex;
    
    -webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
    flex-wrap: wrap;
    
    float: right;
}

/* MOBILE NAVIGATION */
.nav-mobile {
    -webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
    flex-wrap: wrap;
    
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    
}


/* FOOTER NAVIGATION */
.nav-footer a {
    display: -webkit-inline-flex;
	display: -ms-inline-flex;
    display: inline-flex;
    
    -webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
    flex-wrap: wrap;
    
    -webkit-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
}


/* PRODUCTS GRID */
.flexbox-3col {
    display: -webkit-inline-flex;
	display: -ms-inline-flex;
    display: inline-flex;
    
    -webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
    flex-wrap: wrap;
    
    width: 100%;
    
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
}

#box-2item {
    -webkit-justify-content: space-around;
    -ms-justify-content: space-around;
    justify-content: space-around;
}

.box-3col-item {
    flex: 0 1 25%;
}

.box-3col-item-info img {
    width: 100%
}


/* HOMEPAGE BANNER */
.banner h2 {
    font-size: 4em;
    margin-bottom: 1.5em;
}

.banner a {
    font-size: 1.5em;
}

.banner-img {
    display: -webkit-flex;
	display: -ms-flex;
    display: flex;
    
    -webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
}


/* PRODUCT PAGE */
.flexbox-2col {
    display: -webkit-inline-flex;
	display: -ms-inline-flex;
    display: inline-flex;
    
    -webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
    flex-wrap: wrap;
    
    width: 100%;
    justify-content: space-around;
}

.box-2col-img {
	flex: 1 1 45%;
}

.box-2col-info {
	flex: 1 1 55%;
}

.flexbox-quantity {
    display: -webkit-flex;
	display: -ms-flex;
    display: flex;
    
    -webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
    flex-wrap: wrap;
    
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
}

.box-quantity-item {
    flex: 0 1 33%;
}

.box-quantity-item:last-of-type {
    flex: 1 1 100%;
}


/* CONTACT PAGE */
.box-2col-item {
    flex: 1 1 50%;
}

.box-2col-item button {
    float: right;
}

/* FAQ & SHIPPING */
.flexbox-1col {
    display: -webkit-flex;
	display: -ms-flex;
    display: flex;
    
    -webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
    flex-wrap: wrap;
    
    width: 100%;
        
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
}

.box-1col-item {
    flex: 1 1 100%;
}

.box-1col-form {
    flex: 0 1 60%;
}

/* CART PAGE */
#cart>.flexbox-3col {
    align-items: center;
    width: 100%;
}

.box-3col-cart, .box-3col-heading {
    padding: 2em;
    text-align: center;
    flex: 0 1 30%;
    
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
}

.box-3col-cart img {
    max-width: 100%;
}

.right-col {
    display: -webkit-flex;
	display: -ms-flex;
    display: flex;
    
    padding-right: 2em;
    
    -webkit-justify-content: flex-end;
    -ms-justify-content: flex-end;
    justify-content: flex-end;
}


/* MEDIA QUERIES */
@media (max-width: 105em) {
    .banner h2 {
        font-size: 4em;
        margin-bottom: 1em;
    }

    .banner a {
        font-size: 1.5em;
    }
}

@media (max-width: 90em) {
    .banner h2 {
        font-size: 3.5em;
    }

    .banner a {
        font-size: 1em;
    }
}

@media (min-width: 70em) {
    .box-3col-cart img {
        max-width: 60%;
    }
}

@media (max-width: 70em) {
    /* 
        HEADER CONTENT -------------------------------
    */
    header {
        justify-content: center;
    }
    
    /* 
        Main Navigation
        - centered, full-width
    */
    .nav-main {
        display: flex;
        flex: 0 1 100%;
        justify-content: space-around;
    }
    
    /* Main Navigation Links */
    .nav-main a {
        display: flex;
        flex: 1 0 20%;
        justify-content: center;
    }
    
    /* Footer */
    footer>nav {
        display: flex;
        flex-flow: row wrap;
        flex: 0 1 100%;

        -webkit-justify-content: center;
        -ms-justify-content: center;
        justify-content: center;
    }
    
    .nav-footer a {
        display: flex;
        flex: 1 0 40%;
        
        -webkit-justify-content: center;
        -ms-justify-content: center;
        justify-content: center;
    }
    
    /* 3 column grid */
    
    .flexbox-3col {
        -webkit-justify-content: space-around;
        -ms-justify-content: space-around;
        justify-content: space-around;
    }
    
    /*
        BANNER CONTENT -------------------------------
    */
    .banner>div {
        padding-top: 0;
    }
    
    .banner h2 {
        font-size: 3em;
        margin-bottom: 1em;
    }

    .banner a {
        font-size: 1em;
    }
    
    /*
        PRODUCT GRID ----------------------------------
    */
    
    .box-3col-item {
        flex: 1 1 30%;
    }
    
    .box-3col-item:last-of-type {
        max-width: 50%;
    }
}

@media (max-width: 55em) {
    .banner h2 {
        font-size: 2.5em;
    }

    .banner a {
        font-size: 0.875em;
    }
    
    .flexbox-2col {
		flex-direction: column;
        align-items: center;
	}
    
    .box-2col-info {
        width: 100%;
        padding: 0 1em 2em 1em;
    }
    
    .box-2col-item {
        width: 100%;
    }
    
    .box-3col-cart img {
        max-width: 50%;
    }
    
    .box-3col-cart img {
        max-width: 100%;
    }
    
    .checkout-breadcrumbs {
        display: inline-flex;
        justify-content: center;
        text-align: center;
    }
    
    .box-1col-form {
        flex: 1 1 100%;
    }
}

@media (max-width: 50em) { 
    /*
        HEADER NAVIGATION ------------------------------
    */
    
    /* Main Navigation Links */
    .nav-main a {
        margin: 0.5em;
        flex: 1 0 40%;
    }
    
    /* Footer Links */
    .nav-footer a{
        flex: 1 0 100%;
    }
    
    /* BANNER */
    .banner-img {
        display: none;
    }
    
    .banner-img-square {
        display: block;
    }
    
    .banner>div {
        height: 60%;
        margin-top: -25%;
    }
    
    .banner h2 {
        font-size: 3.5em;
        margin-bottom: 1.5em;
    }
    
    .banner a {
        font-size: 1.25em;
    }
    
    /* CART */
    #cart {
        padding: 0;
    }
    
    .flexbox-3col>.unhide{
        display: none;
    }
    
    .flexbox-3col>.hidden {
        display: flex;
        padding: 0;
    }
    
    .hidden>.box-3col-heading {
        padding: 2em;
    }
    
    #cart-product{
        flex: 2 1 100%;
    }
    
    .box-3col-cart, .box-3col-heading {
        flex: 1 1 50%;
    }
    
    .right-col {
        -webkit-justify-content: center;
        -ms-justify-content: center;
        justify-content: center;
    }
    
    .box-3col-cart img {
        max-width: 70%;
    }
}

@media (max-width: 40em) {      
    .nav-footer {
        flex: 1 1 100%;
        flex-direction: column;
        text-align: center;
    }
    
    .flexbox-3col {
        -webkit-justify-content: space-around;
        -ms-justify-content: space-around;
        justify-content: space-around;
    }
    
    .box-3col-item {
        flex: 1 1 100%;
        flex-direction: column;
    }
    
    .box-3col-item:last-of-type {
        max-width: 100%;
    }
    
    .box-quantity-item {
        flex: 1 1 100%;
    }
    
    .box-quantity-item:last-of-type {
        margin-top: 0.5em;
    }
    
    .banner>div {
        height: 40%;
        margin-top: -35%;
    }
    
    .banner h2 {
        font-size: 2em;
        margin-bottom: 1.5em;
    }
    
    .banner a {
        font-size: 1em;
    }
}

@media (max-width: 30em) {
    /* ///----------------------------------------------------------------------------------///

                                            !!!

    MOBILE NAVIGATION STYLING ---------------------------- DO NOT TOUCH THE SECTION BELOW
                                            
                                            !!!

    /////----------------------------------------------------------------------------------/// */
    .nav-main {
        display: none;
    }
    
    .nav-mobile {
        display: -webkit-flex;
	    display: -ms-flex;
        display: flex;
        
        flex-direction: column;
        flex: 1 1 100%;
    }
    
    .nav-mobile-links a {
        display: flex;
        flex-direction: column;
        flex: 1 1 100%;
        
        -webkit-align-content: center;
        -ms-justify-content: center;
        justify-content: center;
    }
    /* ///----------------------------------------------------------------------------------///

                                           !!!

    MOBILE NAVIGATION STYLING END ----------------------- DO NOT TOUCH THE SECTION ABOVE
                                            
                                           !!!

    /////----------------------------------------------------------------------------------/// */
    
    .box-3col-cart img {
        max-width: 100%;
    }
}