*, *::after, *::before {
	box-sizing: border-box;
}

/* positioning footer at the bottom of the page | https://css-tricks.com/couple-takes-sticky-footer/ */
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.content {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
    margin-top: 5em
}

/* MAIN NAVIGATION BAR */
header {
    display: -webkit-flex;
	display: -ms-flex;
    display: flex;
    
    -webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
    flex-wrap: wrap;
    
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
}

header>nav {
    /* flexbox basics | https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Basic_Concepts_of_Flexbox */
    display: -webkit-inline-flex;
	display: -ms-inline-flex;
    display: inline-flex;
    
    -webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
    flex-wrap: wrap;
    
    float: right;
}

/* MOBILE NAVIGATION */
.nav-mobile {
    -webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
    flex-wrap: wrap;
    
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    
}


/* FOOTER NAVIGATION */
footer {
    display: -webkit-flex;
	display: -ms-flex;
    display: flex;
    
    -webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.nav-footer {
    display: -webkit-inline-flex;
	display: -ms-inline-flex;
    display: inline-flex;
    
    -webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
    flex-wrap: wrap;
}


/* PRODUCTS GRID */
.flexbox-3col {
    display: -webkit-inline-flex;
	display: -ms-inline-flex;
    display: inline-flex;
    
    -webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
    flex-wrap: wrap;
    
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;

}

#box-2item {
    -webkit-justify-content: space-around;
    -ms-justify-content: space-around;
    justify-content: space-around;
}

.box-3col-item {
    flex: 0 1 25%;
}

.box-3col-item-info img {
    width: 100%
}


/* PRODUCT PAGE */
.flexbox-2col {
    display: -webkit-inline-flex;
	display: -ms-inline-flex;
    display: inline-flex;
    
    -webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
    flex-wrap: wrap;
    
    width: 100%;
    justify-content: space-around;
}

.box-2col-img {
	flex: 1 1 45%;
}

.box-2col-info {
	flex: 1 1 55%;
}

.flexbox-quantity {
    display: -webkit-flex;
	display: -ms-flex;
    display: flex;
    
    -webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
    flex-wrap: wrap;
    
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
}

.box-quantity-item {
    flex: 0 1 33%;
}

.box-quantity-item:last-of-type {
    flex: 1 1 100%;
}


/* CONTACT PAGE */
.box-2col-item {
    flex: 1 1 50%;
}

.box-2col-item button {
    float: right;
}

/* CART PAGE */
#cart>.flexbox-3col {
    align-items: center;
    width: 100%;
}

.box-3col-cart, .box-3col-heading {
    padding: 2em;
    text-align: center;
    flex: 1 1 30%;
    
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
}

.box-3col-cart img {
    width: 50%;
}

#right-col {
    justify-content: flex-end;
    flex-direction: column;
}


/* FAQ & SHIPPING */
.flexbox-1col {
    padding: 0 10%;
}


/* MEDIA QUERIES */
@media (max-width: 70em) {
    /* 
        HEADER CONTENT -------------------------------
    */
    header {
        justify-content: center;
    }
    
    /* 
        Main Navigation
        - centered, full-width
    */
    header>nav {
        display: flex;
        flex: 0 1 100%;
        justify-content: space-around;
    }
    
    /* Main Navigation Links */
    nav a {
        display: flex;
        flex: 1 0 20%;
        justify-content: center;
    }
    
    .flexbox-3col {
        -webkit-justify-content: space-around;
        -ms-justify-content: space-around;
        justify-content: space-around;
    }
    
    .box-3col-item {
        flex: 1 1 30%;
    }
}

@media (max-width: 55em) {
    .flexbox-2col {
		flex-direction: column;
        align-items: center;
	}
    
    .box-2col-info {
        width: 100%;
        padding: 0 1em 2em 1em;
    }
    
    .box-2col-item {
        width: 100%;
    }
    
    .subhead-paragraph {
        display: inline-block;
        width: 40em;
    }
}

@media (max-width: 50em) { 
    /*
        HEADER NAVIGATION ------------------------------
    */
    
    /* Main Navigation Links */
    .nav-main a {
        margin: 0.5em;
        flex: 1 0 40%;
    }
    
    .subhead-paragraph {
        display: block;
        width: auto;
    }

    .carousel-text {
        position: static;
        color: rgb(0,0,0);
    }

    .carousel-link {
        color: rgb(0,0,0);
        text-decoration: none;
        border-bottom: 1px solid rgba(0,0,0,0);
        -webkit-transition: border-color 0.2s ease-out;
        transition: border-color 0.2s ease-out;
    }
}

@media (max-width: 40em) {      
    .nav-footer {
        flex: 1 1 100%;
        flex-direction: column;
        text-align: center;
    }
    
    .flexbox-3col {
        -webkit-justify-content: space-around;
        -ms-justify-content: space-around;
        justify-content: space-around;
    }
    
    .box-3col-item {
        flex: 1 1 100%;
        flex-direction: column;
    }
    
    .box-quantity-item {
        flex: 1 1 100%;
    }
    
    .box-quantity-item:last-of-type {
        margin-top: 0.5em;
    }
}

@media (max-width: 30em) {
    /*
        HEADER NAVIGATION ------------------------------
    */
    
    /* Main Navigation Links */
    .nav-main {
        display: none;
    }
    
    .nav-main a {
        margin: 0.5em;
        flex-direction: column;
        flex: 1 1 100%;
        border: 1px solid rgb(0,0,0);
    }
    
    .nav-main>.link-active {
        border: 1px solid rgb(173,133,13);
    }
    
    .nav-mobile {
        display: -webkit-flex;
	    display: -ms-flex;
        display: flex;
        flex-direction: column;
        flex: 1 1 100%;
    }
}