/*
  DEFAULT STYLES
*/
body {
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    position: relative;
}



/* 
    NAVIGATION ELEMENTS --------------------------------------------------------
*/

/* Main Navigation */
.top-nav {
    margin: 0em 0em 5em 0em;
    padding: 2em 2em 1em 2em;
    border-bottom: 1px solid rgb(221,218,213);
}

.button-nav {
    /* letter spacing | https://www.w3schools.com/cssref/pr_text_letter-spacing.asp */
    letter-spacing: 0.05em;
    text-align: center;
    padding: 1em 1.5em;
    margin-top: auto;
    margin-bottom: auto;
    color: rgb(0,0,0);
    border: 1px solid rgb(255,255,255);
    background-color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: border-color 0.3s ease-out;
    transition: border-color 0.3s ease-out;
}

.button-nav:hover, .button-nav:focus {
    border: 1px solid rgb(0,0,0);
}

.nav-active {
    color: rgb(173,133,13);
}

/* Footer Links */
footer {
    /* positioning the footer at the bottom of the page | https://www.freecodecamp.org/news/how-to-keep-your-footer-where-it-belongs-59c6aa05c59c/ ------ IN PROGRESS ----- */
    padding: 3em 2em 5em 2em;
    background: rgb(241,234,208);
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer a {
    font-size: 0.875em;
    margin: 0 1em 1em 1em;
    text-decoration: none;
    color: rgb(0,0,0);
    text-transform: uppercase;
    border-bottom: 1px solid rgba(0,0,0,0);
    -webkit-transition: border-color 0.2s ease-out;
    transition: border-color 0.2s ease-out;
}

footer a:hover, footer a:focus {
    border-bottom: 1px solid rgb(0,0,0);
}



/* 
  LINKS, BUTTONS AND FORMS --------------------
*/

/* Styling for in-text links */
.link-in-text {
    color: rgb(173,133,13);
    /* underline transition | https://markrabey.com/2015/05/17/css-transition-for-text-decoration/ */
    text-decoration: none;
    border-bottom: 1px solid rgba(173,133,13,0);
    -webkit-transition: border-color 0.2s ease-out;
    transition: border-color 0.2s ease-out;
}

.link-in-text:hover, .link-in-text:focus {
    border-bottom: 1px solid rgb(173,133,13);
}

/* Styling for Submit/Reset button */
.button-submit-reset {
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    padding: 0.75em 1.5em;
    color: rgb(0,0,0);
    background-color: rgb(241,234,208);
    /* offset border | https://webdevtrick.com/css-outline-styles/ */
    border: none;
    outline: 1px solid rgba(0,0,0,0);
    outline-offset: 5px;
    -webkit-transition: outline 0.2s ease-out;
    transition: outline 0.2s ease-out;
}

.checkout {
    padding: 0.75em 3em;
    float: right;
}

.button-submit-reset:hover, .button-submit-reset:focus {
    outline: 1px solid rgb(0,0,0);
    outline-offset: 5px;
}

/* Styling for Size Selection button */
#size {
    margin: 0 1em 1em 0;
    background-color: rgb(255,255,255);
    outline: 1px solid rgb(221,218,213);
    outline-offset: -1px;
}

#size:hover {
    color: rgb(173,133,13);
    outline: 1px solid rgb(241,234,208);
    outline-offset: -1px;
}

#size:focus {
    background-color: rgb(241,234,208);
    outline: 1px solid rgb(0,0,0);
    color: rgb(0,0,0);
}

/* Styling for text input field */
form {
    margin-left: 5em;
    margin-right: 5em;
}

.input-field {
    display: block;
    padding: 0.5em 0.8em;
    font-size: 0.875em;
    width: 100%;
    
    letter-spacing: 0.02em;
    border: 1px solid rgb(221,218,213);
}

.input-field:focus {
    border: 1px solid rgb(0,0,0);
}

textarea {
    width: 100%;
}


/* 
  TEXT STYLING --------------------------
*/

h1, 
h3 {
    font-family: Gelasio, serif;
    text-transform: uppercase;
}

h1 {
    font-size: 2em;
    font-weight: 400;
    color: rgb(173,133,13);
    text-align: center;
    letter-spacing: 0.05em;
}

.logo {
    font-size: 1.5em;
    letter-spacing: 0em;
    padding: 0.875em 1em;
    outline: 1px solid rgb(0,0,0);
}

.product-name, .about-title, .contact-title {
    color: rgb(173,133,13);
    font-size: 1.5em;
    text-align: left;
}

h1 a {
    color: rgb(173,133,13);
    text-decoration: none;
}

h2, .carousel-text {
    text-transform: uppercase;
    letter-spacing: 0.04em;
    font-size: 0.875em;
    font-weight: 500;
}

h3 {
    font-size: 0.75em;
    font-weight: 600;
    letter-spacing: 0.08em;
}

p {
    font-weight: 300;
    font-size: 0.8em;
    letter-spacing: 0.02em;
    line-height: 1.5em;
}

.subhead-paragraph {
    font-weight: 200;
    text-align: center;
    margin: auto;
}

ul, 
ol {
    font-size: 0.8em;
    letter-spacing: 0.02em;
    padding: 1rem;
}

/* div for product heading combination */
.page-heading {
    text-align: center;
}



/* 
  BODY ELEMENTS ------------------------------
*/

div {
    padding: 0 2em 0 2em;
}

/* Styling for grid */
.product-grid a {
    text-decoration: none;
    color: rgb(0,0,0);
}

.product-item {
    padding: 1em 2em;
    margin: 1.5em;
    border: 1px solid rgba(0,0,0,0);
    -webkit-transition: outline 0.2s ease-out;
    transition: outline 0.2s ease-out;
}

.product-item:hover, .product-item:focus {
    border: 1px solid rgb(0,0,0);
    outline-offset: 1px;
}

/* STYLING FOR INDIVIDUAL GRID PRODUCT CARDS */
.product-item img {
    /* centering images | https://www.w3schools.com/howto/howto_css_image_center.asp */
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 250px;
}

.item-label {
    text-align: center;
}

.item-info, .item-status {
    font-family: 'Public Sans', sans-serif;
    font-weight: 300;
}

.sale {
    color: rgb(202,24,24);
}

.item-status {
    font-style: oblique;
    color: rgb(202,24,24);
}

/* 
    PAGE STYLINGS ------------------------------
*/

/* STYLING FOR HOME PAGE */
.slides {
    display: block;
    padding: 0;
    position: relative;
    text-align: left;
}

.carousel-img {
    max-width: 100%;
}

.carousel-text, .carousel-link {
    color: white;
}

.carousel-text { /* referenced from w3schools how to position text over an image */
    font-size: 2.5em;

    position: absolute;
    top: 45%;
    left: 30%;
    transform: translate(-50%, 50%);
}

.carousel-link {
    font-size: 0.5em;
    color: rgb(255,255,255);
    /* underline transition | https://markrabey.com/2015/05/17/css-transition-for-text-decoration/ */
    text-decoration: none;
    border-bottom: 1px solid rgba(255,255,255,0);
    -webkit-transition: border-color 0.2s ease-out;
    transition: border-color 0.2s ease-out;
}

.carousel-link:hover, .carousel-link:focus {
    border-bottom: 1px solid rgb(255,255,255);
}

/* STYLING FOR PRODUCT PAGE */
.item-img {
    height: auto;
    max-width: 100%;
    padding: 1.25em 1em;
}

.product-info {
    padding: 1em 1em;
}

.reviews {
    border-top: 1px solid rgb(221,218,213);
}


.accordion>input[name="collapse"] {
    display: none;
}

.accordion .accordion-content {
    background-color: #fff;
    overflow: hidden;
    height: 0;
    transition: 0.5s;
}

.accordion label {
    cursor: pointer;
    padding: 0.5em;
}

.accordion-content {
    border-top: 1px solid rgba(0,0,0);
}

.accordion label:hover, .accordion label:focus {
    color: rgb(173,133,13);
}

.accordion .handle label:before {
    content: "▾";
    display: inline-block;
    margin-right: 10px;
    line-height: 1.556em;
    vertical-align: middle;
    transition: 0.4s;
}

.accordion>input[name="collapse"]:checked ~ .handle label:before {
    transform: rotate(180deg);
    transform-origin: center;
    transition: 0.4s;
}

.accordion>input[name="collapse"]:checked ~ .accordion-content {
  height: 3em;
  transition: height 0.5s;
}

/* referenced from https://codeconvey.com/html-expand-collapse-text-without-javascript/ */


/* STYLING FOR CART PAGE */
#cart {
    border-top:1px solid rgb(0,0,0);
    border-bottom: 1px solid rgb(0,0,0);
    margin: 0 0 3em 0;
}

/* STYLING FOR CONTACT PAGE */
textarea {
    max-width: 100%;
}


