/* ///////////////////////////////////////////////////////

  DEFAULT STYLES ----------------------------------------

/////////////////////////////////////////////////////// */

body {
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
}



/* ////////////////////////////////////////////////////////

    NAVIGATION ELEMENTS -----------------------------------

///////////////////////////////////////////////////////// */

/* Main Navigation */
header {
    margin: 0em 0em 2em 0em;
    padding: 2em 2em 1em 2em;
    border-bottom: 1px solid rgb(221,218,213);
}

.nav-main a, .nav-mobile a, .nav-mobile-handle {
    /* letter spacing | https://www.w3schools.com/cssref/pr_text_letter-spacing.asp */
    letter-spacing: 0.05em;
    text-align: center;
    padding: 1em 1.5em;
    margin: auto 0.5em;
    color: rgb(0,0,0);
    border: 1px solid rgb(255,255,255);
    background-color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: border-color 0.3s ease-out;
    transition: border-color 0.3s ease-out;
}

.nav-main>a:hover, .nav-main>a:focus {
    color: rgb(173,133,13);
    border: 1px solid rgb(173,133,13);
}

.nav-main>a:active {
    color: rgb(0,0,0);
    border: 1px solid rgb(0,0,0);
    background-color: rgb(241,234,208);
}

header .link-active {
    color: rgb(173,133,13);
}

/* Main Navigation: Mobile */

/* collapsible styling | referenced from https://codeconvey.com/html-expand-collapse-text-without-javascript/ */
.nav-mobile {
    display: none;
    margin-top: 0.5em;
}

.nav-mobile>h2 {
    font-size: 1em;
    font-weight: 400;
}

.nav-mobile-links a {
    border: 1px solid rgb(0,0,0);
    margin: 0.5em;
}

.nav-mobile-links a:hover, .nav-mobile-links a:focus {
    color: rgb(173,133,13);
    border: 1px solid rgb(173,133,13);
}

.nav-mobile-links>a:active {
    color: rgb(0,0,0);
    border: 1px solid rgb(0,0,0);
    background-color: rgb(241,234,208);
}

.nav-mobile>input[name="collapse"] {
    display: none;
}

.nav-mobile .nav-mobile-content {
    overflow: hidden;
    height: 0;
    transition: height 0.5s ease-in;
}

.nav-mobile-handle {
    display: block;
    border: 1px solid rgb(0,0,0);
    padding: 0;
}

.nav-mobile label {
    display: block;
    padding: 1em;
}

.nav-mobile-handle:hover, .nav-mobile-handle:focus {
    color: rgb(173,133,13);
    border: 1px solid rgb(173,133,13);
}

.nav-mobile-content {
    padding: 0;
}

.nav-mobile-handle label:before {
    content: "▾";
    display: inline-block;
    margin-right: 0.5em;
    line-height: 1.556em;
    transform: rotate(0deg);
    transform-origin: center;
    -webkit-transition: transform 0.4s ease-in;
    transition: transform 0.4s ease-in;
}

.nav-mobile>input[name="collapse"]:checked ~ .nav-mobile-handle label:before {
    transform: rotate(180deg);
    transform-origin: center;
    -webkit-transition: transform 0.4s ease-out;
    transition: transform 0.4s ease-out;
}

.nav-mobile>input[name="collapse"]:checked ~ .nav-mobile-content {
  height: 15.5em;
  transition: height 0.5s ease-out;
}

/* Footer Links */
footer {
    padding: 3em 1em 3em 1em;
    background: rgb(241,234,208);
    width: 100%;
}

.nav-footer a {
    text-align: center;
    font-size: 0.875em;
    margin: 1em;
    text-decoration: none;
    color: rgb(0,0,0);
    text-transform: uppercase;
}

.nav-footer a:hover, .nav-footer a:focus {
    text-decoration: underline;
    -webkit-transition: text-decoration 0.2s ease-in;
    transition: text-decoration 0.2s ease-in;
}



/* ///////////////////////////////////////////////////

  LINKS & BUTTONS -----------------------------------

/////////////////////////////////////////////////// */

/* Styling for in-text links */
.link-in-text {
    color: rgb(173,133,13);
    /* underline transition | https://markrabey.com/2015/05/17/css-transition-for-text-decoration/ */
    text-decoration: none;
    border-bottom: 1px solid rgba(173,133,13,0);
    -webkit-transition: border-color 0.2s ease-out;
    transition: border-color 0.2s ease-out;
}

.link-in-text:hover, .link-in-text:focus {
    border-bottom: 1px solid rgb(173,133,13);
}

/* Styling for Submit/Reset button */
.button-submit-reset {
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    padding: 0.75em 3em;
    color: rgb(0,0,0);
    background-color: rgb(241,234,208);
    /* offset border | https://webdevtrick.com/css-outline-styles/ */
    border: none;
    outline: 1px solid rgba(0,0,0,0);
    outline-offset: 5px;
    -webkit-transition: outline 0.2s ease-out;
    transition: outline 0.2s ease-out;
    float: right;
}

.button-submit-reset:hover, .button-submit-reset:focus {
    outline: 1px solid rgb(0,0,0);
    outline-offset: 5px;
}

/* Styling for Size Selection button */
.size {
    margin: 0 0 1em 0;
    background-color: rgb(255,255,255);
    border: 1px solid rgb(221,218,213);
    outline: none;
}

.size:hover {
    border: 1px solid rgb(0,0,0);
    outline: none;
}

.size:focus {
    background-color: rgb(241,234,208);
    border: 1px solid rgb(0,0,0);
    color: rgb(0,0,0);
    outline: none;
}



/* /////////////////////////////////////////////////////

  TEXT FORMS -------------------------------------------

///////////////////////////////////////////////////// */

form {
    padding: 1em 0;
}

form>label {
    text-transform: uppercase;
    letter-spacing: 0.04em;
    font-size: 0.875em;
    font-weight: 500;
}

.input-field {
    margin: 0.75em 0 0.875em 0;
    display: block;
    padding: 0.875em;
    font-size: 0.875em;
    width: 100%;
    
    letter-spacing: 0.02em;
    border: 1px solid rgb(221,218,213);
}

.input-field:focus {
    border: none;
    outline: 1px solid rgb(0,0,0);
}

textarea {
    resize: vertical;
    margin-bottom: 0.875em;
    width: 100%;
    border: 1px solid rgb(221,218,213);
}

textarea:focus {
    border: none;
    outline: 1px solid rgb(0,0,0);
}


/* //////////////////////////////////////////////////////

  BODY TEXT STYLING -------------------------------------

////////////////////////////////////////////////////// */

h1, h3, .reviews label {
    font-family: Gelasio, serif;
    text-transform: uppercase;
}

h1 {
    font-size: 2em;
    font-weight: 400;
    color: rgb(173,133,13);
    text-align: center;
    letter-spacing: 0.05em;
}

.logo {
    font-size: 1.5em;
    letter-spacing: 0em;
    padding: 0.875em 1em;
    outline: 1px solid rgb(0,0,0);
}

.heading-left {
    color: rgb(173,133,13);
    font-size: 1.5em;
    text-align: left;
}

h1 a {
    color: rgb(173,133,13);
    text-decoration: none;
}

h2, .carousel-text {
    text-transform: uppercase;
    letter-spacing: 0.04em;
    font-size: 0.875em;
    font-weight: 500;
}

h3, .reviews label {
    font-size: 0.75em;
    font-weight: 600;
    letter-spacing: 0.08em;
}

p {
    font-weight: 300;
    font-size: 0.8em;
    letter-spacing: 0.02em;
    line-height: 1.5em;
}

.page-heading>p {
    font-weight: 200;
    text-align: center;
    margin: auto;
}

ul, 
ol {
    font-size: 0.8em;
    letter-spacing: 0.02em;
    padding: 1rem;
}

/* div for product heading combination */
.page-heading {
    text-align: center;
    margin-bottom: 4em;
}



/* /////////////////////////////////////////////////////////

  BODY CONTAINERS ------------------------------------------

////////////////////////////////////////////////////////// */

div {
    padding: 0 2em 0 2em;
}

section {
    margin-top: 0;
}

.content {
    padding: 1em 0 0 0;
}

/* Grid Containers */
.box-3col-item a {
    text-decoration: none;
    color: rgb(0,0,0);
}

.box-3col-item {
    padding: 1em;
    margin: 0 2em 1.5em 2em;
    border: 1px solid rgba(0,0,0,0);
    -webkit-transition: outline 0.2s ease-out;
    transition: outline 0.2s ease-out;
}

.box-3col-item:hover, .box-3col-item:focus {
    border: 1px solid rgb(0,0,0);
    outline-offset: 1px;
}

.box-3col-item-info, .box-2col-item-info {
    padding: 0;
}

.box-3col-item img {
    /* centering images | https://www.w3schools.com/howto/howto_css_image_center.asp */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.box-2col-item img {
    /* centering images | https://www.w3schools.com/howto/howto_css_image_center.asp */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.box-2col-img {
    padding: 0;
}

.box-2col-item>section{
    padding: 0;
    margin: 0 2em 1.5em 2em;
}

.box-2col-info {
    padding: 1em 1em 2em 1em;
}

.flexbox-quantity {
    padding: 0;
}

.box-1col-item {
    margin: 0 2em 1.5em 2em;
}

.box-1col-item>.accordion:last-of-type {
    margin-bottom: 3em;
}

/*
    COMPONENT STYLING
*/

/* Product Card Details */
.item-label {
    text-align: center;
}

.item-info, .item-status {
    font-family: 'Public Sans', sans-serif;
    font-weight: 300;
}

.sale {
    color: rgb(202,24,24);
}

.item-status {
    font-style: oblique;
    color: rgb(202,24,24);
}

/* ///////////////////////////////////////////////////////

    PAGE-SPECIFIC STYLING --------------------------------

/////////////////////////////////////////////////////// */

/* HOME PAGE */
.banner {
    padding: 0;
    position: relative;
    margin-bottom: 4em;
}

.banner-img {
    width: 100%;
}

.banner-img-square {
    display: none;
}

.banner>div {
    background-color: rgb(241,234,208);
    position: absolute;
    height: 60%;
    width: 80%;
    top: 50%;
    left: 50%;
    margin-top: -11%;
    margin-left: -40%;
    text-align: center;
}

.banner a {
    color: rgb(0,0,0);
    background-color: rgb(255,255,255);
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5em 2em;
    outline: 1px solid rgba(0,0,0,0);
    outline-offset: 5px;
    -webkit-transition: outline 0.2s ease-out;
    transition: outline 0.2s ease-out;
}

.banner a:hover, .banner a:focus {
    outline: 1px solid rgb(0,0,0);
    -webkit-transition: outline 0.2s ease-in;
    transition: outline 0.2s ease-in;
}

/* ABOUT PAGE */
.about {
    width: 100%;
    padding: 0;
}

/* PRODUCT PAGE */
.item-img {
    height: auto;
    max-width: 100%;
    padding: 1.25em 1em;
}

section .button-submit-reset {
    display: inline-block;
}

/* collapsible | referenced from https://codeconvey.com/html-expand-collapse-text-without-javascript/ */

.accordion>input[name="collapse"] {
    display: none;
}

.accordion label {
    margin-top: 2.5em;
}

.accordion .accordion-content {
    overflow: hidden;
    height: 0;
    transition: height 0.5s ease-in;
}

.accordion label {
    display: block;
}

.accordion-content {
    padding: 0;
    border-top: 1px solid rgb(0,0,0);
}

.accordion label:hover, .accordion label:focus {
    color: rgb(173,133,13);
}

.accordion .handle label:before {
    content: "▾";
    display: inline-block;
    margin-right: 0.5em;
    line-height: 1.556em;
    vertical-align: middle;
    transform: rotate(0deg);
    transform-origin: center;
    transition: transform 0.4s ease-in;
}

.accordion>input[name="collapse"]:checked ~ .handle label:before {
    transform: rotate(180deg);
    transform-origin: center;
    transition: transform 0.4s ease-out;
}

.accordion>input[name="collapse"]:checked ~ .accordion-content {
  height: auto;
  transition: height 0.5s ease-out;
}

.reviews {
    padding: 0 3em 0 3em;
}

.reviews>section {
    border-top: 1px solid rgb(0,0,0);
}

/* CART PAGE */
#cart>#cart{
    border-bottom: 1px solid rgb(0,0,0);
    margin: 0 0 3em 0;
}

#cart-heading {
    border-bottom: 1px solid rgb(0,0,0);
}

.cart-total {
    font-size: 1em;
    float: right;
    margin: 0 2em 2em 0;
}

.flexbox-3col>.hidden {
    display: none;
}

/* ORDER TRACKER + TRACKING PROGRESS */

/* order progress bar | referenced from http://kodhus.com/newsite/step-progress-bar-css-only/ */

.order-progress {
      width: 100%;
      margin: 2em auto; 
  }

  .progressbar {
      counter-reset: step;
  }

  .progressbar li {
      list-style-type: none;
      width: 25%;
      float: left;
      font-size: 1em;
      position: relative;
      text-align: center;
      text-transform: uppercase;
      color: #7d7d7d;
  }

  .progressbar li:before {
      width: 30px;
      height: 30px;
      content: counter(step);
      counter-increment: step;
      line-height: 3em;
      border: 2px solid #7d7d7d;
      display: block;
      text-align: center;
      margin: 0 auto 10px auto;
      border-radius: 50%;
      background-color: white;
  }

  .progressbar li:after {
      width: 100%;
      height: 2px;
      content: '';
      position: absolute;
      background-color: #7d7d7d;
      top: 15px;
      left: -50%;
      z-index: -1;
  }

  .progressbar li:first-child:after {
      content: none;
  }

  .progressbar li.active {
      color: rgb(173,133,13);
  }

  .progressbar li.active:before {
      border-color: rgb(173,133,13);
  }

  .progressbar li.active + li:after {
      background-color: rgb(173,133,13);
  }

